/* Add a black background color to the top navigation */
/* Style the header */
body {
    background-color: #C6DCEF; /* For browsers that do not support gradients */
}
.primaryProject{
    color: #428BCA;
    border: solid #5CB85C 1px;
}

.header {
    padding: 10px;
    text-align: center;
}
#example1{
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(#428BCA, white);
    width: 100%;
}

.topnav {
    background-color: #428BCA;
    overflow: hidden;
    text-decoration: none;
    margin: 0;
    padding: 0;

}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}
.topnav a:focus {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
    position: relative;
    text-decoration: none;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:30px;   /* Height of the footer */
    background:#6cf;
    text-align: center;
    padding: 20px;
}
.report {
    float: right;
}
.searchData{
    text-align: center;
    padding: 50px;
}
.checkbox {
    margin-left: 15px;
}